@import "tailwindcss";

@theme {
    --font-syne: var(--font-syne, system-ui, sans-serif);
    --font-dm-sans: var(--font-dm-sans, system-ui, sans-serif);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
